extends ../layout
block content 
    h1.pageheader=title
    .card
        h2 Add an institution
        p You will become the admin of any institution you add.
        form(action="/institutions", method="POST")
            .row
                label(for="name") Name 
                br
                input.input.text-input(type="text", id="name", name="name")
            .row
                label(for="country") Country
                br
                select.text-input(id="country" name="country")
                    each country in countries
                        option(value=""+country) #{country}
            .row
                button.submit-button(type="submit") Add 

        h2 Your institutions 
        p Institutions you are the admin of 
        table(style="text-align: left")
            tr 
                th(style="width: 400px") Name
                th(style="width: 200px")  Country 
                th Remove
            each institution in institutions 
                -if (institution.admin == user._id)
                    tr
                        td #{institution.name}
                        td #{institution.country}
                        td 
                            form(action="/institutions/delete/" + institution._id, method="POST")
                                button.remove-button(type="submit") Remove
                

        h2 All institutions
        p View all currently registered institutions.
        table(style="text-align: left")
            tr 
                th(style="width: 400px") Name
                th(style="width: 200px")  Country 
            each institution in institutions 
                -if (institution.admin == user._id)
                    tr
                        td #{institution.name}
                        td #{institution.country}